table,
th,
td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.deletequestion {
    margin-left: 10px;
    width: 40px;
    height: 80px;
    font-size: 18px;
    color: #555;
    line-height: 15px;
    text-align: right;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.deletequestion:hover {
    cursor: pointer;
    background-color: #859f96;
}

#sort {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    /* Display elements vertically above themselves */
    align-items: flex-end;
    /* Align items to the right horizontally */
}

.sortingBtn {
    border-top: 1px solid #859f96;
    border-bottom: 1px solid #859f96;
    border-collapse: collapse;
    cursor: pointer;
    flex: 1;
}

.sortingBtn:hover {
    background-color: #859f96;
}

.flex-spacer {
    flex: 0 0 10px;
    /* Adjust the desired spacing value */
}

.editQuestion {
    margin-left: 10px;
    width: 40px;
    height: 80px;
    font-size: 18px;
    color: #555;
    line-height: 15px;
    text-align: right;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.editQuestion:hover {
    cursor: pointer;
    background-color: #859f96;
}