body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: sans-serif;
    background-color: #f2f2f2;
}

form {
    margin-top: 20px;
}


label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

button[type="submit"],
button[type="button"] {
    background-color: #ff6666;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #ff5555;
}


/* Index page only css */
header {
    background-color: #ff6666;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-name {
    color: black;
    margin-left: 20px;
    margin-right: 10px;
}

.welcome-message {
    text-align: center;
}

.logout-button {
    text-decoration: none;
    font-size: 16px;
    color: aqua;
}

.logout-button:hover {
    text-decoration: underline;
    font-size: 18px;
}


/* Side bar */
main {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#sidebar {
    width: 350px;
    background-color: #333;
    min-height: 800px;
    color: #fff;
    padding-top: 20px;
}

#sidebar a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}

#sidebar a:hover {
    background-color: #555;
}

#content {
    flex: 1;
    /* margin: auto; */
    padding: 40px 10%;
}