/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply basic styling to the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

/* Style the score-div */
#score-div {
    text-align: center;
    margin-bottom: 20px;
}

/* Style the quiz result cards */
.card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.correctAnswer {
    border-color: #4caf50;
    /* Green border for correct answers */
}

.wrongAnswer {
    border-color: red;
}

/* Style the link to go back to the main page */
a {
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

/* This css for brevious attempts that are displayed as table  */
.attempts-table {
    border-collapse: collapse;
    width: 100%;
}

.attempts-table th,
.attempts-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.attempts-table th {
    background-color: #f2f2f2;
}

.attempts-table button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


button[type="submit"],
.goBackToPreviousAttempts {
    background-color: #ff6666;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
.gobackDivs{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-grow: 1;
}
.goBackToPreviousAttempts {
    margin: 0 10px;
    display: inline;
    width: fit-content;
}

button[type="submit"]:hover {
    background-color: #ff5555;
}