/* Style for the main container */
.choicesDiv {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

/* Style for the delete button */
.deletequestion {
  float: right;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  color: red;
}

/* Style for the radio button labels */
.radioChoices {
  margin-left: 5px;
}

/* Style for the horizontal rule */
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #ccc;
}

/* Style for the radio buttons */
[type="radio"] {
  margin-right: 5px;
}

button {
  background-color: #ff6666;
  color: white;
  border: none;
  margin-top: 20px;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #ff5555;
}