.quiz-container {
    text-align: center;
    background-color: white;
    margin: 5%;
    padding: 20px;
    width: 800px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin-bottom: 20px;
}

label,
input {
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

input {
    width: 200px;
    text-align: center;
}

button {
    background-color: #ff5555;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* For forms of attempting quiz */

/* Style for each card */
.quizes-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    max-height: 200px;
    width: 50%;
    margin: 0 auto;
}

.form-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    /* Adjust the width as needed */
    background-color: #fff;
}

/* Style for the "Start Quiz" button */
.form-card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

/* Hover effect for the button */
.form-card button:hover {
    background-color: #0056b3;
}